# ── MongoDB ────────────────────────────────────────────────────────────────────
MONGO_USERNAME=tjsc
MONGO_PASSWORD=tjsc

# ── Redis ──────────────────────────────────────────────────────────────────────
REDIS_PASSWORD=cdma

# ── OpenAI ─────────────────────────────────────────────────────────────────────
OPENAI_API_KEY=

# ── Mongo Express (UI admin) ───────────────────────────────────────────────────
ME_USERNAME=admin
ME_PASSWORD=admin
